.container{
    border: 5px solid white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 100px;
    width: 500px;
}

.button{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.loginbtn{
    margin-top: 2px;
}

a{
    text-decoration: none;
}

h1{
    padding-top: 6px;
    text-align: center;
}

h6{
    text-align: center;
    border: 3px solid white;
    border-radius: 20px;
    padding-bottom: 5px;
}

.checkbox{
    margin-bottom: 5px;
    margin-top: 2px;
}